@using System.Collections.ObjectModel


<div class="container bootstrap snippets bootdey">
    <div class="row">
        <ul class="notes">
            @if (Sheets != null)
            {
                @foreach (var item in Sheets)
                {
                    <li>
                        <div class="rotate-1 @BackGroundColor">
                            <small>@item.EditDate</small>
                            <h4>@item.Title</h4>
                            <p>
                                @foreach (var content in item.Contents.OrderBy(x => x.Line))
                                {
                                    @content.Data
                                    <br />
                                }
                            </p>
                            <a @onclick="(()=>Action(item))" class="text-danger pull-right"><i class="fa fa-trash-o "></i></a>
                            <a href="#" class="text-danger pull-right"><i class="fa fa-edit"></i></a>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>


@code {
    /// <summary>
    /// The color of the note , its background color.
    /// </summary>
    [Parameter]
    public string? BackGroundColor { get; set; }

    /// <summary>
    /// Data which is a collection of object Sheet.
    /// </summary>
    [Parameter]
    public ObservableCollection<Sheet> Sheets { get; set; } = default!;

    /// <summary>
    /// The Action to call when clicking on delete note.
    /// </summary>
    [Parameter]
    public Action<Sheet> Action { get; set; }
}
